*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);

}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.7rem;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link-overclocking{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    padding-bottom: 3px;
    transition: opacity .5s;
    background-color: rgba(160, 160, 160, 0.4);
    border-radius: 10px;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-pcbt {
    width: 2.6rem;
    height: 5.4rem;
    background: url("images/icons/pcbt50.png") center no-repeat;
}
.title {
    display: flex;
    align-items:last baseline;
    color: rgba(255, 255, 255);
    text-align: center;
    padding-top: 5.5rem;
    backdrop-filter: blur(0.05rem);
    border-radius: 50px;
    background-size: cover;
    max-width: 1400px;
}

.title-heading {
    font-size: 2.6rem;
    line-height: 1.07;
    letter-spacing: 0.15rem;
    padding-bottom: 5px;
    padding-top: 5px;
    /* Dodałem wypełnienie, aby ramka miała więcej miejsca do zaokrąglenia */
    display: inline-block;
    /* Element inline-block, aby dopasować się do zawartości */
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 1s steps(30, end) forwards, blinking 2s infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: whitesmoke
    }

    100% {
        border-color: transparent
    }
    
}

.subTitleCon {
    font-size: 28px;
    text-align: center;
    margin-top: .6rem;
    letter-spacing: .015rem;
    font-weight: 350;
    color: white;
    max-width: 300px;
    animation: typing 1s steps(30, end) forwards, blinking 2s infinite;
  }

.short-link {
    font-size: 1.15rem;
    margin-top: .6rem;
    letter-spacing: .015rem;
    font-weight: 350;
    color: rgb(189, 178, 255);
    margin-bottom: 3%;
    bottom: 0;
}

.partsInstallation{
    background: url("images/hero/overclocking/Upscales.ai_1705605802769.jpeg");
    transition: 2s;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    border-bottom-style: solid; /* Use border-bottom-style instead of border-style */
    border-bottom-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(90deg, rgb(145, 250, 255) 0%, rgb(27, 202, 255) 39%, rgb(0, 51, 234) 60%, rgb(145, 250, 255) 100%);
    border-image-repeat: round;
    border-image-slice: 1;
    padding-left: 5%;
}


.partsInstallation:hover{
    background-size: 105%;
}

hr{
    margin-top: 5%;
}

.point{
    margin-left: 5%;
    margin-right: 5%;
    transition: 1s;
}

.back-to-top-scroll-button{
    display: none;
}

.effect-container{
    display: flex;
    height: 200px;
    top: 50%;
    align-items: end;
}

svg {
    width: 114px;
    height: 114px;
    margin: 1em;
  }
  
  .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }
  
  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    
  }
  
  .meter-1 {
    stroke-dasharray: 360;
    stroke-dashoffset: 100;
    stroke: aqua;
    animation: changeFreqCricle 5s ease-out infinite;
  }
  .meter-2 {
    stroke: lime;
    stroke-dasharray: 360;
    stroke-dashoffset: 160;
    animation: changeTempCircle 5s ease-out infinite;
  }

  .meter-3 {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 160;
    animation: changeFanCircle 5s ease-out infinite;
  }

  @keyframes changeFreqCricle {
    0% {
        stroke-dashoffset: 360;
        stroke: rgb(6, 205, 6);
    }
    50% {
        stroke-dashoffset: 80;
        stroke: rgb(255, 48, 33);
    }

    100%{
        stroke-dashoffset: 360;
        stroke: rgb(6, 205, 6);
    }
}

.circ-description{
    font-size: 20px;
    color: aqua;
}

@keyframes changeTempCircle {
    0% {
        stroke-dashoffset: 360;
        stroke: aqua;
    }
    10% {
        stroke: rgb(79, 138, 255);
    }
    20%{
        stroke: rgb(0, 255, 149);
    }

    30%{
        stroke: rgb(0, 255, 38);
    }

    40%{
        stroke: rgb(255, 115, 0);
    }

    50% {
        stroke-dashoffset: 100;
        stroke: red;
    }
    
    60%{
        stroke: rgb(255, 115, 0);
    }

    70%{
        stroke: rgb(0, 255, 38);
    }

    80%{
        stroke: rgb(0, 255, 149);
    }

    90% {
        stroke: rgb(79, 138, 255);
    }

    100%{
        stroke-dashoffset: 360;
        stroke: aqua;
    }
}

@keyframes changeFanCircle {
    0% {
        stroke-dashoffset: 360;
        stroke: #1A2C34;
    }
    50% {
        stroke-dashoffset: 10;
        stroke: white;
    }

    100%{
        stroke-dashoffset: 360;
        stroke: #1A2C34;
    }
}

.freq{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: aqua;
}

.freq::before{
    content: "1500";
    animation: changeFreq 5s infinite;
}

.temp{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: aqua;
}

.temp::before{
    content: "50";
    animation: changeTemp 5s infinite;
}

.fan{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: aqua;
}

.fan::before{
    content: "50";
    animation: fanSpeed 5s infinite;
}

@keyframes changeFreq {
    0% { content: "1500"; color: rgb(6, 205, 6); }
    10% { content: "1575"; }
    20% { content: "1650"; }
    30% { content: "1725"; }
    40% { content: "1800"; }
    50% { content: "2250"; color: rgb(255, 48, 33); }
    60% { content: "2100"; }
    70% { content: "1950"; }
    80% { content: "1800"; }
    90% { content: "1650"; }
    100% { content: "1500"; color: rgb(6, 205, 6); }
}

@keyframes changeTemp {
    0% { content: "50"; color: aqua; }
    10% { content: "60"; color: rgb(79, 138, 255); }
    20% { content: "70"; color: rgb(0, 255, 149);}
    30% { content: "80"; color: rgb(0, 255, 38);}
    40% { content: "90"; color: rgb(255, 115, 0);}
    50% { content: "95"; color: rgb(255, 48, 33); }
    60% { content: "90"; color: rgb(255, 115, 0);}
    70% { content: "80"; color:  rgb(0, 255, 38);}
    80% { content: "70"; color: rgb(0, 255, 149);}
    90% { content: "60"; color: rgb(79, 138, 255);}
    100% { content: "50"; color: aqua; }
}

@keyframes fanSpeed {
    0% { content: "0"; color: #1A2C34; }
    10% { content: "20"; }
    20% { content: "40"; }
    30% { content: "60"; }
    40% { content: "80"; }
    50% { content: "100"; color: white; }
    60% { content: "80"; }
    70% { content: "60"; }
    80% { content: "40"; }
    90% { content: "20"; }
    100% { content: "0"; color: #1A2C34; }
}

.circle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1.05;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 200px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    width: 50%;
    border-radius: 25px;
    padding-bottom: 10px;
}

h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
}

.section-title {
    background-image: linear-gradient(to right, #0077ff, #00e1ff, #00fff2, #00ffff, #0000ff, #ff00ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 15s ease infinite;
    margin-bottom: 50px;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.first-slide{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: #0f0f0f;
    flex-direction: column;
}

.point-description{
    font-size: 25px;
    color:rgba(76, 238, 253, 0.969);
    font-weight: 350;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    max-width: 70%;
    
}

.slideA{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(0,0,0,0.9);
    color: aqua;
}

.slideContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}

.sectionTitle{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-bottom: 5%;
    text-align: center;
}

.slideContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}

.slidesContent{
    font-size: 22px;
    font-weight: 450;
    max-width: 50%;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    transition: 0.5s;
}

.sectionTitle{
    margin-top: 5%;
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    letter-spacing: 2px;
    border-top-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 1px;
    width: 20%;
    margin-left: 40%;
    justify-content: center;
    transition: 0.5s;
    color: white;
}

.slideA:hover .sectionTitle{
    border-top-style: solid; /* Use border-bottom-style instead of border-style */
    border-top-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    width: 70%;
    margin-left: 15%;
}

img{
    width: 35%;
    margin-left: 30px;
    border-radius: 20px;
    transition: 0.5s;
}

.slideContainer:hover img{
    scale: 1.05;
    box-shadow: rgb(69, 107, 149) 0px 20px 30px -10px;
}

.slideContainer:hover .slidesContent{
    box-shadow: inset rgb(38, 57, 77) 30px 0px 30px -10px;
    border-color: #00DDEB;
    scale: 1.02;
}

.sectionContainer:hover .sectionTitle2{
    border-top-style: solid; /* Use border-bottom-style instead of border-style */
    border-top-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    width: 70%;
    margin-left: 15%;
}

.sectionTitle2{
    margin-top: 5%;
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    letter-spacing: 2px;
    border-top-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 1px;
    width: 20%;
    margin-left: 40%;
    justify-content: center;
    transition: 0.5s;
}


.sectionContainer:hover .sectionTitle2{
    border-top-style: solid; /* Use border-bottom-style instead of border-style */
    border-top-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    width: 70%;
    margin-left: 15%;
}

.point-title{
    font-size: 35px;
    color: rgb(141, 204, 246);
}

.pointsContainer{
    display: flex;
    flex-direction: column;
}

.point{
    border-bottom-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.pointDescription{
    font-size:20px;
}

.important{
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.point:hover .important{
    color: rgb(0, 255, 149);
    font-weight: bold;
}

.video{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-left: 5%;
    justify-content: space-around;
}

.video .point-description{
    padding-bottom: 20px;
}

.video:hover iframe{
    scale: 1.05;
}

iframe{
    height: 300px;
    width: 600px;
    border-radius: 20px;
    transition: 1s;
}

.slideB{
    color: white;
}

.slideB .opinionContainer{
    margin-top: 0%;
}

.slideB .slidesContent{
    padding-right: 50px;
    color: white;
    border-left-style: none;
    border-right-style: solid;
    margin-left: 25px;
}

.sectionTitle2{
    margin-top: 5%;
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    letter-spacing: 2px;
    border-top-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 1px;
    width: 20%;
    margin-left: 40%;
    justify-content: center;
    transition: 0.5s;
    color: white;
}

.slideB:hover .sectionTitle2{
    border-top-style: solid; /* Use border-bottom-style instead of border-style */
    border-top-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    width: 70%;
    margin-left: 15%;
}

.slideB .sectionContainer:hover .sectionTitle{
    border-top-style: solid; /* Use border-bottom-style instead of border-style */
    border-top-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    width: 70%;
    margin-left: 15%;
}

.slideB .slideContainer{
    left: 0;
    justify-content: left;
}

.slideB .slideContainer:hover img{
    scale: 1.05;
    box-shadow: rgb(90, 230, 158) 0px 20px 30px -10px;
}

.slideB .slideContainer:hover .slidesContent{
    box-shadow: inset rgba(109, 255, 180, 0.756) 30px 0px 30px -10px;
    border-color: #00b35c;
    scale: 1.02;
}

.slideB .opinionContainer .slideContainer:hover .slidesContent{
    box-shadow: inset rgba(109, 255, 180, 0.756) -30px 0px 30px -10px;
    border-color: #00b35c;
    scale: 1.02;
}

.slideB .point:hover .point-title{
    color: #00b35c;
}

.slideA .point:hover .point-title{
    color: #0048ff;
}

.slideB .sectionTitle2{
    width: 30%;
    margin-left: 35%;
}

footer{
    background: rgb(29, 29, 29);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:12.5px;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:600px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}