*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(15, 15, 15);

}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-pcbt {
    width: 2.6rem;
    height: 5.4rem;
    background: url("images/icons/pcbt50.png") center no-repeat;
}

.pcbt-main {
    margin-top: -4.5rem;
    background: url("images/hero/pcbt/howard-bouchevereau-Db-tzBhd500-unsplash-2.png");
}

.hero {
    height: 69.2rem;
    background-size: auto 135%;
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    border-bottom-style: solid; /* Use border-bottom-style instead of border-style */
    border-bottom-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(27, 202, 255) 39%, rgb(0, 61, 141) 60%, rgba(0,0,0,1) 100%);
    border-image-repeat: round;
    border-image-slice: 1;
}

.pcbt-main:hover{
   transition: 2s;
   background-size: auto 150%;
   background-position-x: 50%;
   background-position-y: 50%;
}

.hero:not(:hover){
    transition: 2s;
    background-size: auto 135%;
 }

.pcbt-main {
    border-top: none;
}

.title {
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding-top: 10.5rem;
    background-color: rgba(15, 0, 0, 0.45);
    /* semi-transparent red */
    backdrop-filter: blur(0.05rem);
    border-radius: 50px;
    background-size: cover;
}


.title-heading {
    font-size: 2.6rem;
    line-height: 1.07;
    letter-spacing: 0.15rem;
    padding: 1rem;
    /* Dodałem wypełnienie, aby ramka miała więcej miejsca do zaokrąglenia */
    display: inline-block;
    /* Element inline-block, aby dopasować się do zawartości */
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1s steps(30, end) forwards, blinking 2s infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 25%
    }
}

@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: whitesmoke
    }

    100% {
        border-color: transparent
    }
}


.subTitleCon {
    color: #e5e5e5;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#cd1e1e;
  }
  .third div {
    background-color:#00820b;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  

.title-sub-heading {
    font-size: 1.75rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 350;
}

.short-description {
    font-size: 1.15rem;
    margin-top: .6rem;
    letter-spacing: .015rem;
    font-weight: 350;
}

.short-link {
    font-size: 1.15rem;
    margin-top: .6rem;
    letter-spacing: .015rem;
    font-weight: 350;
    color: rgb(189, 178, 255);
    margin-bottom: 3%;
    bottom: 0;
}

.content {
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    background-size: cover;
    margin-top: 50rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.title-heading2 {
    margin-top: 0.5rem;
    font-size: 2.6rem;
    color: whitesmoke;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.15rem;
    padding: 1rem;
    background-color: transparent;
    border-bottom-style: solid; /* Use border-bottom-style instead of border-style */
    border-bottom-width: 5px; /* Use border-bottom-width instead of border-width */
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-image-repeat: round;
    border-image-slice: 1;
    box-shadow: rgba(151, 65, 252, 0.15) 0 15px 30px -5px;

}

.site-description {
    display: flex;
    margin-inline: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.points-descr {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255, 0.9);
    width: 40%;
    text-align: center;
    /* Dostosuj wartość marginesu według potrzeb */
    margin-top: 5%;
    margin-left: 2%;
    padding-right: 0.5%;
    margin-bottom: 5%;
    padding-bottom: 7.5%;
    border-radius: 20px;

    box-shadow: rgba(151, 65, 252, 0.35) 0 15px 30px -5px;
    border-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-width: 5px;

    background: linear-gradient(-45deg, #000000, #004ee9, #B30059, #E62600);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

.desc-link{
    font-size: 1.15rem;
    margin-top: .6rem;
    letter-spacing: .015rem;
    font-weight: 350;
    color: rgb(189, 178, 255);
    align-items: flex-end;
    margin-top: auto;
}

.point-number {
    flex: 0 0 15%;
    /* Dostosuj szerokość liczby punktu według potrzeb */
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    height: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.shp-desc {
    flex: 0 0 85%;
    /* Dostosuj szerokość opisu punktu według potrzeb */
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 22px;
    margin-bottom: auto;
}

/*<--/\-->*/
/*czesc mobilna*/
/*<--\/-->*/

@media only screen and (max-width: 962px){

    header{
        height: 4.8rem;
        transition: background .37s cubic-bezier(0.32, 0.08, 0.24, 1),
                    height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container{
        padding: 0;
    }

    .nav-list{
        margin-top: 0;

    }

    .nav-list-mobile{
        display: flex;
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden{
        display: none;
    }

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.98);

    }

    .line-top{
        margin-top: 3px;
    }

    .line-bottom{
        margin-top: -.4rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.98);
    }

    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.98);
    }

    header.active{
        height: 100%;
        background-color: #000;

    }

    .nav-link-pcbt{
        width: 2rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav{
        position: relative;
    }

    .nav-link{
        font-size: 1.4rem;
        padding: 0;
        margin: auto 0;
    }

    .nav-list-larger{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }

    .active .nav-list-larger{
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility:visible;
    }

    .nav-list-larger .nav-item{
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    .nav-list-larger .nav-item:nth-child(9){
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    .active .nav-list-larger .nav-item{
        animation: fadeIn 1s ease-in;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .pcbt-main {
        background: url("images/hero/pcbt/howard-bouchevereau-Db-tzBhd500-unsplash-2.png");
        margin-top: -4.5rem;
    }

    .hero{
        height: 69.2rem;
        background-size: auto 115%;
        background-position-x: 50%;
        background-position-y: 70%;
        background-repeat: no-repeat;
        border-bottom-style: solid; /* Use border-bottom-style instead of border-style */
        border-bottom-width: 5px; /* Use border-bottom-width instead of border-width */
        border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(181,181,181,1) 39%, rgba(0,212,255,1) 60%, rgba(0,0,0,1) 100%);
        border-image-repeat: round;
        border-image-slice: 1;
    }   

    .pcbt-main:hover{
        transition: 2s;
        background-size: auto 100%;
        background-position-x: 45%;
        background-position-y: 40%;
     }

     .hero:not(:hover){

        background-size: auto 75%;
     }

    .title-heading {
        font-size: 30px;
        line-height: 1.07;
        letter-spacing: 0.15rem;
        padding: 1rem;
        /* Dodałem wypełnienie, aby ramka miała więcej miejsca do zaokrąglenia */
        display: inline-block;
        /* Element inline-block, aby dopasować się do zawartości */
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid;
        width: 0;
        animation: typing 1s steps(30, end) forwards, blinking 2s infinite;
    }
    
    
    @keyframes typing {
        from {
            width: 0
        }
    
        to {
            width: 80%
        }
    }
    
    @keyframes blinking {
        0% {
            border-color: transparent
        }
    
        50% {
            border-color: whitesmoke
        }
    
        100% {
            border-color: transparent
        }
    }

    .title-heading2 {
        margin-top: 0.5rem;
        font-size: 30px;
        color: whitesmoke;
        text-align: center;
        line-height: 1.07;
        letter-spacing: 0.15rem;
        padding: 1rem;
        /* Dodałem wypełnienie, aby ramka miała więcej miejsca do zaokrąglenia */
    }


    .points-descr {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255, 0.9);
        width: 500%;
        text-align: center;
        /* Dostosuj wartość marginesu według potrzeb */
        margin-top: 5%;
        margin-left: 2%;
        padding-right: 0.5%;
        margin-bottom: 5%;
        padding-bottom: 10%;
        border-radius: 20px;
        background: linear-gradient(-45deg, #000000, #004ee9, #B30059, #E62600);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .shp-desc {
        flex: 0 0 10%;
        /* Dostosuj szerokość opisu punktu według potrzeb */
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        font-size: 20px;
        margin-top: 2%;
    }

    @media only screen and (max-width: 600px){
        .shp-desc{
            font-size: 16px;
        }
    }

    .point-number {
        flex: 0 0 5%;
        /* Dostosuj szerokość liczby punktu według potrzeb */
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        height: 10%;
    }

    .short-link {
        font-size: 1.15rem;
        margin-top: .6rem;
        letter-spacing: .015rem;
        font-weight: 350;
        color: rgb(189, 178, 255);
        margin-bottom: 3%;
        bottom: 0;
    }

    .subTitleCon {
        color: #e5e5e5;
        font-size: 21.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .animation {
        height:37px;
        overflow:hidden;
        margin-left: 1rem;
      }
      
      .animation > div > div {
        padding: 0.25rem 0.25rem;
        height:2.81rem;
        margin-bottom: 2.81rem;
        display:inline-block;
      }
      
      .animation div:first-child {
        animation: text-animation 8s infinite;
      }
      
      .first div {
        background-color:#20a7d8;
      }
      .second div {
        background-color:#cd1e1e;
      }
      .third div {
        background-color:#00820b;
      }
      
      @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -5.62rem;}
        30% {margin-top: -5.62rem;}
        40% {margin-top: -11.24rem;}
        60% {margin-top: -11.24rem;}
        70% {margin-top: -5.62rem;}
        80% {margin-top: -5.62rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
      }


}

/* CSS */
.backToTop {
    align-items: center;
    text-align: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}

.backToTop:active,
.backToTop:hover {
    outline: 0;
}

.backToTop a {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    color: #FFFFFF;
}

.backToTop:hover a {
    background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

footer{
    background: rgba(81, 81, 81, 0.2);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    bottom: 0;
    border-radius: 20px;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:12.5px;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:600px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}
